/* This CSS file holds the styles that will be used across all pages */


/* Index: 
- Root colours
- Body
- Header/Main Nav
    - Navigation Bar
- Footer
- Typography 
- Links
*/

:root {
    --dBlue: #05284b;
    --mBlue: #094786;
    --lBlue: #b0bedb;
    --lBrown: #a57945;
    --dBrown: #6D3D14;
}


/* Body */


/* Hide scrollbar for IE, Edge and Firefox */

body {
    font-family: 'Lora', serif;
    margin: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}


/* Header/Main Nav */


/* Navigation bar */

div.sticky-nav {
    /* display: block; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-bar {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--mBlue);
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

.nav-bar-li {
    float: left;
}

.nav-bar-li a {
    display: block;
    padding: 2px 16px;
    width: max-content;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar-li a:hover:not(.active) {
    background-color: var(--lBlue);
    color: var(--mBlue);
}

.active {
    background-color: var(--dBlue);
}


/* Insert Footer styles here */


/* Typography */

h1 {
    font-size: 80px;
    color: white;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 18px;
}


/* Links */

a {
    font-size: 18px;
    text-decoration: none;
    color: var(--mBlue);
}

a:hover {
    color: var(--lBlue);
    text-decoration: underline;
}

a:active {
    color: black;
}