/* This CSS file holds the styles that will be used across all pages */


/* Index: 
- Root
    - Colours
    - Font
- Body
- Header/Main Nav
    - Navigation Bar
- Footer
- Typography 
- Links
- Modals
*/

:root {
    --dBlue: #05284b;
    --mBlue: #094786;
    --lBlue: #b0bedb;
    --lBrown: #a57945;
    --dBrown: #6D3D14;
    /* Font size for devices <960px */
    --font-size-h1: 35px;
    --font-size-h2: 25px;
    --font-size-h3: 18px;
    --font-size-h4: 16px;
    --font-size-p: 14px;
}

@media (min-width: 960px) {
     :root {
        --font-size-h1: 80px;
        --font-size-h2: 35px;
        --font-size-h3: 20px;
        --font-size-h4: 18px;
        --font-size-p: 16px;
    }
}


/* Body */


/* Hide scrollbar for IE, Edge and Firefox */

body {
    font-family: 'Lora', serif;
    margin: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}


/* Header/Main Nav */


/* Navigation bar */

div.sticky-nav {
    /* display: block; */
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
}

.sticky-nav-other {
    /* display: block; */
    position: sticky;
    width: 100%;
    top: 0;
}

.nav-bar {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--mBlue);
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

.nav-bar-li {
    float: left;
}

.nav-bar-li a {
    display: block;
    /* BUTTONS CONDENSE WEIRDLY BECAUSE OF PADDING */
    padding: 2px 16px;
    width: max-content;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar-li button {
    display: block;
    padding: 3px 16px;
    width: max-content;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar-li a:hover:not(.active) {
    background-color: var(--lBlue);
    color: var(--mBlue);
}

.active {
    background-color: var(--dBlue);
}


/* Insert Footer styles here */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Typography */

h1 {
    font-size: var(--font-size-h1);
    color: white;
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-p);
}


/* Links */

a {
    font-size: var(--font-size-p);
    text-decoration: none;
    color: var(--mBlue);
}

a:hover {
    color: var(--lBlue);
    text-decoration: underline;
}

a:active {
    color: black;
}


/* Sign Up and Log In modal CSS */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: var(--mBlue);
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 16px;
    width: max-content;
    font-weight: bold
}

button:hover {
    background-color: var(--lBlue);
    color: var(--mBlue);
}

.enterbtn {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-right: 24px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.loginContainer {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.755);
    padding-top: 60px;
}

.modalContent {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid rgb(186, 186, 186);
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}