/* Background image */

.bg {
    position: relative;
    opacity: 0.8;
    width: 100%;
    z-index: 0;
    background-size: 100%;
}


/* Square photos */

.square {
    width: 100%;
}

.square:hover {
    opacity: 0.5;
}

.grid {
    column-gap: 5px;
    row-gap: 5%;
    padding: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* If the resolution is <700 then the grid goes to single columns - phone friendly */

@media (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.centered {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Lora', serif;
}