/* Index of CSS
- Background Image
- Title
- Square photos
- Grid and the areas of it

- Phone Friendly Mods
 */


/* Background image  */

.bg {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Title on bg image */

.title {
    display: inline;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


/* Title positioning */

.centered {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Square photos */

.square {
    width: 100%;
}

.square:hover {
    opacity: 0.5;
}


/* Grid and Grid areas */

.grid {
    column-gap: 5px;
    row-gap: 2%;
    /* top left-right bottom */
    padding: 10% 15% 10%;
    display: grid;
    grid-template-areas: "menuWords" "pic1" "contact" "pic2" "about" "pic3"
}

.Picture-One {
    grid-area: pic1;
}

.Picture-Two {
    grid-area: pic2;
}

.Picture-Three {
    grid-area: pic3;
}

.Menu-Words {
    grid-area: menuWords;
}

.Contact-Words {
    grid-area: contact;
}

.About-Words {
    grid-area: about;
}


/* Phone Friendly Mods */


/* If the resolution is >960 then the grid goes to single columns - phone friendly */

@media (min-width: 960px) {
    .grid {
        column-gap: 2%;
        row-gap: 5%;
        padding: 10% 15% 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menuWords pic1" "pic2 contact" "about pic3"
    }
}

/* stuff for the events gallery */
/* HOW TO ALIGN center? */
.responsive {
    padding: 0 6px;
    float: left;
    width: 39.99999%;
    object-fit: cover;
    position: relative;
  }
  
  @media only screen and (max-width: 700px)  {
    .responsive {
      width: 100%;
    }
  }
  
  div.eventsgallery {
      padding: 5%;
  }

  div.eventsgallery img {
    width: 100%;
    height: auto;
  }

  .eventsgrid {
    column-gap: 2%;
    row-gap: 5%;
    padding: 10% 15% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.center{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}