/* Index of CSS
- Background Image
- Title
- Square photos
- Grid and the areas of it

- Phone Friendly Mods
 */


/* Background images  */

.bg {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.long {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Title on bg image */

.title {
    display: inline;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


/* Title positioning */

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.long-centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Top alignment */

.about-top {
    justify-content: center;
    align-items: center;
    display: flex;
}


/* Square photos */

.square {
    width: 100%;
}

.eventsquare:hover {
    opacity: 0.5;
}


/* Grid and Grid areas */

.home-grid {
    column-gap: 2%;
    row-gap: 2%;
    /* top left-right bottom */
    padding: 10% 15% 10%;
    display: grid;
    grid-template-areas: "menuWords" "pic1" "contact" "pic2" "about" "pic3"
}

.Picture-One {
    grid-area: pic1;
}

.Picture-Two {
    grid-area: pic2;
}

.Picture-Three {
    grid-area: pic3;
}

.Menu-Words {
    grid-area: menuWords;
}

.Contact-Words {
    grid-area: contact;
}

.About-Words {
    grid-area: about;
}

.instasocial {
    width: 80px;
}

.facesocial {
    width: 60px;
}

.footer-grid {
    background-color: var(--mBlue);
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr;
    grid-area: "gMap";
}

.google-map {
    grid-area: gMap;
}

.address {
    color: white;
    text-align: center;
    justify-content: center;
    grid-area: address;
}


/* Phone Friendly Mods */


/* If the resolution is >960 then the grid goes to single columns - phone friendly */

@media (min-width: 960px) {
    .home-grid {
        column-gap: 2%;
        row-gap: 5%;
        padding: 10% 15% 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menuWords pic1" "pic2 contact" "about pic3";
    }
    .footer-grid {
        background-color: var(--mBlue);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "gMap"
    }
}


/* stuff for the events gallery */


/* HOW TO ALIGN center? */

.responsive {
    padding: 0 6px;
    float: left;
    width: 39.99999%;
    object-fit: cover;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
    }
}

div.eventsgallery {
    padding: 5%;
}

div.eventsgallery img {
    width: 100%;
    height: auto;
}

.eventsgrid {
    column-gap: 2%;
    row-gap: 5%;
    padding: 10% 15% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.eventsgallery:hover .center {
    opacity: 1;
    visibility: visible;
    color: black;
}

.forimg {
    margin-left: 10%;
    margin-right: 10%;
}

.fortext{
    padding: 10%;
}


/* About Us */

hr {
    color: #ddd;
    background-color: #ddd;
    height: 3px;
    border: 0;
}

.people img.alignleft {
    float: left;
    margin: 0 24px 24px 0;
}

.person {
    overflow: hidden;
    margin-bottom: 80px;
}

.person-content {
    display: inline-block !important;
    width: 45% !important;
    vertical-align: top !important;
    margin: 0 1% !important;
}

@media only screen and (max-width: 600px) {
    .people img.alignleft {
        float: none;
        display: block;
        margin-bottom: 20px;
    }
    .person-content {
        width: 100% !important;
    }
}

.about-grid {
    column-gap: 2%;
    row-gap: 2%;
    padding: 5% 15% 10%;
    display: grid;
}