/* Index of CSS
- Background Image
- Title
- General Styling
- Square photos
- Grid and the areas of it
- Navigation Bar
- Phone Friendly Mods
- Typography
 */


/* Background image  */

.bg {
    position: relative;
    width: 100%;
    z-index: 0;
    background-size: 100%;
    margin: 0;
    padding: 0;
}


/* Title on bg image */

.title {
    background-color: gray;
    color: #6d3d14;
    display: inline;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


/* Title positioning */

.centered {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* General Styles */

body {
    margin: 0;
}


/* Square photos */

.square {
    width: 100%;
}

.square:hover {
    opacity: 0.5;
}


/* Grid and Grid areas */

.grid {
    column-gap: 5px;
    row-gap: 2%;
    padding: 15%;
    display: grid;
    grid-template-areas: "menuWords" "pic1" "contact" "pic2" "about" "pic3"
}

.Picture-One {
    grid-area: pic1;
}

.Picture-Two {
    grid-area: pic2;
}

.Picture-Three {
    grid-area: pic3;
}

.Menu-Words {
    grid-area: menuWords;
}

.Contact-Words {
    grid-area: contact;
}

.About-Words {
    grid-area: about;
}


/* Navigation bar */

div.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-bar {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #094786;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

.nav-bar-li {
    float: left;
}

.nav-bar-li a {
    display: block;
    padding: 2px 16px;
    width: max-content;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-bar-li a:hover:not(.active) {
    background-color: #b0bedb;
}

.active {
    background-color: #05284b;
}


/* Phone Friendly Mods */


/* If the resolution is <700 then the grid goes to single columns - phone friendly */

@media (min-width: 960px) {
    .grid {
        column-gap: 2%;
        row-gap: 5%;
        padding: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menuWords pic1" "pic2 contact" "about pic3"
    }
}


/* Typography */

h1 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-family: 'Lora', serif;
}

h3 {
    font-size: 25px;
    font-family: 'Lora', serif;
}