.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main {
  height: auto;
}

/* .footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.wrapper {
  max-width: calc(1236px + 64px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  width: 100%;
  /* height: 100vh;
  min-height: 600px; */
  height: auto;
}

.section {
  height: 100vh;
  padding-top: 110px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.title {
  text-align: right;
  margin-bottom: 72px;
  font-size: 100px;
  display: block;
}

.ctaButton {
  background-color: #FF6AAF;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 8px 24px;
  display: block;
}

.gamePreview {
  border-radius: 330px;
  /* opacity: 0.1; */
  /* margin-right: auto; */
  display: inline-block;
}

.gameName {
  display: inline-block;
  font-size: 60px;
  margin-left: 350px;
  margin-bottom: -50px;
  vertical-align: center;

  display: block;
  /* margin-right: auto; */
  /* margin-left: auto; */
  width: fit-content;
  margin-top: -150px;
}

.ctaButton {
  background-color: #FF6AAF;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 14px 28px;
  display: block;
  max-width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: 50%;
  margin-top: 100px;
}