.header {
  max-width: calc(1236px + 64px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  width: 100%;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 32px;
  padding-bottom: 32px;

  /* background-color: #FF6AAF; */
}

.headerWrapper {
  position: fixed;
  /* background-color: white; */

  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  margin: auto 0;
}

.primaryMenu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
}

.menuItem {
  padding: 8px 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.menuItem:nth-last-of-type(2), .menuItem:last-of-type {
  font-weight: bold;
}

.menuItem a {
  display: flex;
  align-items: center;
}

.menuItem .stash {
  font-weight: bold;
}

.menuItem a >div >div {
  margin-right: 16px;
}

.menuItem:nth-last-of-type(2), .menuItem:nth-last-of-type(3), .menuItem:last-of-type {
  padding: 0;
}

.menuItem:nth-last-of-type(2) {
  margin-left: 24px;
}
