.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main {
  height: auto;
}

/* .footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.wrapper {
  max-width: calc(1236px + 64px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  width: 100%;
  /* height: 100vh;
  min-height: 600px; */
  height: auto;
}

.section {
  height: 100vh;
  padding-top: 220px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.title {
  text-align: right;
  margin-bottom: 72px;
  font-size: 100px;
  display: block;
}

.ctaButton {
  background-color: #FF6AAF;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 8px 24px;
  display: flex;
}

.gamePreview {
  border-radius: 330px;
  opacity: 0.1;
  margin-right: auto;
  display: inline-block;
}

.gameName {
  display: inline-block;
  font-size: 60px;
  margin-left: -180px;
  margin-bottom: -50px;
  vertical-align: center;

  display: block;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  margin-top: -150px;
}

.ctaButton {
  background-color: #FF6AAF;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 14px 28px;
  display: inline-block;
  text-align: center;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  margin-bottom: 16px;
}

.links {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.description {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  max-width: 200px;
  line-height: 1.5;
  vertical-align: center;
}

.quantity {
  font-size: 60px;
  font-weight: bold;
  margin-left: 36px;
  color: black;
}

.stash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stashBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.nav {
  color: #FF6AAF;
  margin-left: auto;
  margin-bottom: auto;
}

.linkWrapper {
  padding-top: 80px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.ctaLink {
  background-color: #FF6AAF;
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  padding: 14px 24px;
  display: flex;
}

.nav .ctaButton {
  width: auto;
  margin: 4px;
  background-color: #FF9CCA;
  display: inline-block;
  font-size: 16px;
}